body {
    width: 100%;
    background-image: linear-gradient(blue, pink);
    background-position: cover;
    text-align: center;
    height: 70vh;
    padding-top: 20%;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra {
    width: 50%;
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a {
    text-decoration: none;
    width: 20%;
    text-align: center;
}

.active {
    font-size: larger;
    background-color: steelblue;
}